/*
Table of contents
1 General
  1.1 Imports
  1.2 Variables
  1.3 Global

2 Header
  2.1 Logo
  2.2 Icon

3 Intro
  3.1 Intro Text
    3.1.1 h3
    3.1.2 p
    3.1.3 link
  3.2 Intro Img
    3.2.1 Img

4 Bio
  4.1 Picture frame

*/


// 1 General

// 1.1 Imports

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

// 1.1 Variables
$tBlue: #3C91E6;
$lapiz: #38608F;
$raisin: #342E37;
$powder: #FAFFFD;
$coral: #FA824C;


// 1.3 Global
*
{
  background-color: $powder;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: $raisin;
  font-family: 'Varela Round', sans-serif;
  font-size: 1rem;
}

// 1.4 Utility Classes



// 2 Header

#header
{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 20px 0;

  // 2.1 Logo
  #logo
  {
    margin: 10px 0 0 0;
    font-size: 2.6rem;
  }

  // 2.2 Icon
  #icon
  {
    cursor: pointer;
    margin: 13px 0 0 0;
    font-size: 50px;
    font-variation-settings:
            'FILL' 0,
            'wght' 500,
            'GRAD' 0,
            'opsz' 48
  }
}

// 3 Intro

#intro
{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border-color: $raisin;
  border-style: solid none;
  border-width: 1px;
  height: 600px;

  // 3.1 Intro text
  #introtext
  {
    height: 450px;
    width: 25%;
    margin: 75px 12% 75px 0;
    border: 2px solid $raisin;
    font-size: 1.3rem;

    // 3.1.1 h3
    h3 {
      display: flex;
      justify-content: center;
      font-size: 2.4rem;
      color: $lapiz;
      margin:  10px 0 15px 0;
    }

    //3.1.2 P
    p {
      font-size: 1.3rem;

    }

    // 3.1.3 Link
    a {
      font-size: 1.3rem;
      transition: .1s;
      color: $lapiz;
      &:hover {
        border-bottom: 2px solid $lapiz;
      }
    }
  }

  // 3.2 Intro img
  #intropic
  {
    width: 55%;
    border-color: $raisin;
    border-style: none none none solid;

    // 3.2.1 Img
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}


// 4 Bio

#bio
{
  margin: 50px auto auto auto;
  display: flex;
  width: 80%;
  height: auto;
  //border-bottom: 2px solid $lapiz;
  padding: 0 0 5rem 0;

  // 4.1 img background
  #bio-imgback
  {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 20rem;
    //border: 2px solid $raisin;
    background-color: $tBlue;
    border-radius: 1rem;

    // 4.2 img
    img
    {
      margin: 1.5rem 0 0 0;
      //border: 1px solid $raisin;
      width: 300px;
      height: 225px;
    }
  }

  // 4.2 Text
  #bio-text
  {
    margin: 0 0 0 10rem;
    width: 30rem;
    height: 700px;
    border: 2px solid $raisin;
  }
}

// 5 Projects
#projects {

  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  background-color: $lapiz;
  height: auto;

  // 5.1 Header
  #project-head

  {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: transparent;

    h3
    {
      background-color: transparent;
      margin: auto;
      font-size: 3rem;
      color: $coral;
    }
    p
    {
      background-color: transparent;
      margin: auto;
      color: $powder ;
      font-size: 1.3rem;
    }
  }

  // 5.2 cards
  #project-card
    //TODO Flex that boi
  {
    margin: 2rem;
    display: flex;
    background-color: transparent;


    div
      // TODO Design Cards
    {
      width: 300px;
      height: 400px;
      background-color: $powder;
    }
  }
}


// test
#colors {
  display: flex;
  height: 300px;
  margin: 30px 0 0 0;

  .color1 {
    width: 20%;
    background-color: $tBlue;
  }
  .color2 {
    width: 20%;
    background-color: $lapiz;
  }
  .color3 {
    width: 20%;
    background-color: $raisin;
  }
  .color4 {
    width: 20%;
    background-color: $powder;
  }
  .color5 {
    width: 20%;
    background-color: $coral;
  }
}